<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" android:installLocation="auto" package="com.sampleapp" platformBuildVersionCode="32" platformBuildVersionName="12">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission android:name="com.sampleapp.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.sampleapp.permission.MAPS_RECEIVE"/>
    <queries>
        <package android:name="com.nhn.android.naverlogin"/>
        <package android:name="com.nhn.android.search"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="@xml/appsflyer_backup_rules" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.baemin.base.BDApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="google_analytics_deferred_deep_link_enabled" android:value="true"/>
        <activity android:exported="true" android:name="com.baemin.presentation.ui.ExternalRouterActivity" android:theme="@style/AppTheme.NoDisplayWindow">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.baemin.com" android:path="/shopDetail" android:scheme="https"/>
                <data android:host="www.baemin.com" android:path="/shopDetail/menuDetail" android:scheme="https"/>
                <data android:host="www.baemin.com" android:path="/market" android:scheme="https"/>
                <data android:host="www.baemin.com" android:path="/market/marketMenu" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.baemin.presentation.ui.RouterActivity" android:theme="@style/AppTheme.NoDisplayWindow">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="smartbaedal"/>
                <data android:scheme="baemin"/>
                <data android:scheme="baemin-action"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTask" android:name="com.baemin.presentation.ui.gateway.GatewayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.home.HomeActivity" android:parentActivityName="com.baemin.presentation.ui.gateway.GatewayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.WebViewActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.pages.WebViewPagesActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.OrderWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.PaymentWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.orderhistory.OrderHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.CouponBoxActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.PointWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.orderhistory.OrderHistoryDetailWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.BaeminPayWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.PaymentResultWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.shoplist.baemin.ShopListPagerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_search" android:name="com.baemin.presentation.ui.search.home.SearchHomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_search" android:name="com.baemin.presentation.ui.search.result.SearchResultPagerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.shop.detail.header.baemin.TakeoutMapActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.baemin.presentation.ui.shop.ShopDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.baemin.presentation.ui.shop.neo.info.NeoShopDetailInfoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.baemin.presentation.ui.shop.neo.review.NeoShopDetailReviewActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:launchMode="singleTop" android:name="com.bmart.presentation.review.list.photo.view.BMartPhotoReviewListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.detail.single.view.BMartReviewDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.detail.sequence.view.BMartReviewDetailSequenceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.my.detail.view.BMartMyReviewDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.home.BMartContainerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.home.seller.view.BStoreSellerHomeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.report.view.BMartReviewReportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.write.view.BMartReviewWriteActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <layout android:defaultHeight="540.0dip" android:defaultWidth="320.0dip" android:gravity="center" android:minHeight="540.0dip" android:minWidth="320.0dip"/>
        </activity>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.review.modify.view.BMartReviewModifyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.bmart.presentation.product.view.BMartProductDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_cart" android:name="com.bmart.presentation.cart.BMartCartWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_payment" android:name="com.bmart.presentation.order.BMartOrderWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="" android:name="com.qcommerce.presentation.experimental.view.TestSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.qcommerce.presentation.verification.view.QCommerceAdultVerificationWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.cart.CartWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.cart.grouporder.GroupOrderOnBoardingWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.ui.menu.MenuDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.shoplist.responsive.ResponsiveShopListPagerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.shoplist.baeminone.BaeminOneShopListPagerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.tutorial.TutorialActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_user_edit" android:name="com.baemin.ui.user.profile.UserProfileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_member_withdraw" android:name="com.baemin.presentation.ui.user.unregister.UserUnregisterActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_login" android:name="com.baemin.presentation.ui.user.login.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.user.essentialinfo.ExtraTermsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/sign_up" android:name="com.baemin.presentation.ui.user.signup.SignUpWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="필수정보입력" android:name="com.baemin.presentation.ui.user.essentialinfo.UserEssentialInfoRegistrationActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.user.find.FindIdPasswordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_setting" android:name="com.baemin.ui.setting.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_point_gift" android:name="com.baemin.ui.giftcard.GiftCardRegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_customer_center" android:name="com.baemin.ui.customcenter.CustomerCenterActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_business" android:name="com.baemin.presentation.ui.businessinfo.BusinessInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/notice" android:name="com.baemin.presentation.ui.notice.NoticeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/event" android:name="com.baemin.presentation.ui.event.list.EventListWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_terms" android:name="com.baemin.ui.terms.TermsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_user_review" android:name="com.baemin.presentation.ui.review.user.UserReviewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_review" android:name="com.baemin.presentation.ui.review.manage.MyReviewActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.review.register.ReviewRegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.review.modify.ReviewModifyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.shop.detail.contents.review.past.ShopReviewPastListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.review.report.ReportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.address.AddressSettingActivity" android:theme="@style/AppTheme.Address" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.popup.EventPopupActivity" android:theme="@style/EventPopupTheme" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateAlwaysVisible"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.error.ServiceNotAvailableActivity" android:theme="@style/PopupTheme" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateAlwaysVisible"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.deliverytracking.DeliveryTrackingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateAlwaysVisible"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_board_detail" android:name="com.baemin.presentation.ui.shop.detail.contents.viewer.MediaPagerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateAlwaysVisible"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.gallery.GalleryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.baeminnow.BaeminNowActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_gift_page" android:name="com.baemin.presentation.ui.gift.GiftPageWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/inappchat_title" android:name="com.baemin.presentation.ui.inappchat.list.InAppChannelListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/inappchat_title" android:name="com.baemin.presentation.ui.inappchat.detail.InAppChannelDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/label_preferable_shop" android:name="com.baemin.presentation.ui.preferable.PreferablePagerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="false"/>
        <meta-data android:name="com.facebook.sdk.AutoInitEnabled" android:value="false"/>
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        <receiver android:exported="false" android:name="com.baemin.fcm.receiver.BrazePushBroadcastReceiver">
            <intent-filter>
                <action android:name="com.braze.push.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_OPENED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.braze.ui.BrazeWebViewActivity" android:theme="@android:style/Theme"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyFeedActivity" android:theme="@android:style/Theme"/>
        <receiver android:exported="true" android:name="com.baemin.core.analytics.TrackerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.BaeminFamilyAccountWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.web.IdentificationWebActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.baemin.presentation.ui.common.CommonFragmentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.smartorder.presentation.qr.SmartOrderQRActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.smartorder.presentation.menu.SmartOrderShopMenuDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.smartorder.presentation.detail.SmartOrderShopDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.smartorder.presentation.group.SmartOrderShopGroupActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="d223f734e5b14afbe1914a1c9d9fcc22f24db0be"/>
        <meta-data android:name="firebase_performance_collection_enabled" android:value="true"/>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="true"/>
        <meta-data android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates" android:value="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_api_key"/>
        <service android:exported="false" android:name="com.baemin.fcm.BaeminFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.baemin.fcm.receiver.BaeminFirebaseTokenRetryBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.baemin.fcm.BaeminFirebaseTokenFetchService"/>
        <service android:exported="true" android:name="com.baemin.fcm.BaeminFirebaseTokenFetchJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.baemin.fcm.receiver.BaeminPushBroadcastReceiver">
            <intent-filter>
                <action android:name="com.baemin.fcm.BaeminPushBroadcastReceiver.ACTION_REVIEW_WRITE_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.baemin.notification.LocalNotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.baemin.notification.LocalNotificationBroadcastReceiver.DEFAULT"/>
                <action android:name="com.baemin.notification.LocalNotificationBroadcastReceiver.ACTION"/>
                <action android:name="com.baemin.notification.LocalNotificationBroadcastReceiver.CANCEL"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity" android:screenOrientation="portrait"/>
        <activity android:label="OAuth2.0 In-app" android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/notification_icon"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/notification_channel_default_id"/>
        <provider android:authorities="com.sampleapp.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:allowTaskReparenting="true" android:autoRemoveFromRecents="true" android:configChanges="density|fontScale|orientation|screenLayout|screenSize|smallestScreenSize" android:launchMode="singleTask" android:name="com.woowahan.livecommerce.client.presentation.broadcast.BroadcastActivity" android:screenOrientation="portrait" android:supportsPictureInPicture="true" android:taskAffinity=".affinity.VideoPlayer" android:theme="@style/LiveCommerce.AppTheme.Dark" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.woowahan.livecommerce.client.presentation.broadcast.reserved.ReservedBroadcastActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.Light"/>
        <activity android:name="com.woowahan.livecommerce.client.presentation.schedule.ScheduleActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.Light"/>
        <activity android:launchMode="singleTask" android:name="com.woowahan.livecommerce.client.presentation.category.broadcast.BroadcastCategoryActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.Light"/>
        <activity android:name="com.woowahan.livecommerce.client.presentation.notice.NoticeListActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.Light"/>
        <activity android:name="com.woowahan.livecommerce.client.presentation.broadcast.gateway.BroadcastGateWayActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.NoUi"/>
        <activity android:name="com.woowahan.livecommerce.client.presentation.channel.detail.ChannelDetailActivity" android:screenOrientation="portrait" android:theme="@style/LiveCommerce.AppTheme.Light.Transparent"/>
        <receiver android:exported="false" android:name="com.woowahan.livecommerce.client.presentation.manager.ShareManager$UrlShareChosenComponentReceiver"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/navermap_legend" android:name="com.naver.maps.map.app.LegendActivity" android:theme="@style/navermap_app"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/navermap_legal_notice" android:name="com.naver.maps.map.app.LegalNoticeActivity" android:theme="@style/navermap_app"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/navermap_open_source_license" android:name="com.naver.maps.map.app.OpenSourceLicenseActivity" android:theme="@style/navermap_app"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.sampleapp" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.ktx.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ktx.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.sampleapp.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <provider android:authorities="com.sampleapp.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.appboy.ui.AppboyWebViewActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyContentCardsActivity"/>
        <activity android:exported="false" android:name="com.braze.ui.activities.ContentCardsActivity"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.braze.push.NotificationTrampolineActivity" android:theme="@style/Braze.PushTrampoline.Transparent"/>
        <receiver android:exported="false" android:name="com.braze.push.BrazePushReceiver"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.com.sampleapp"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.sampleapp.kakao.adfit.initialize" android:exported="false" android:name="com.kakao.adfit.AdFitSdkInitProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTop" android:name="com.kakao.adfit.common.inappbrowser.activity.IABActivity" android:theme="@style/AdFitTheme.NoTitleBar" android:windowSoftInputMode="adjustResize"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <provider android:authorities="com.sampleapp.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.braze.receivers.BrazeActionReceiver"/>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="sensorLandscape" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:exported="false" android:name="com.sendbird.android.SendBirdFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.sendbird.android.SendBirdFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.sendbird.android.SendBirdHmsMessagingService">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>